.box{
  width:200px;
  height:200px;
  background-color: darkblue;
  border: 10px solid black;
}


.circle{
  width:200px;
  height:200px;
  border-radius:50%;
  background-color: red;
  border: 10px solid black;
}